@import "Canvas.scss";
@import "Landing.scss";
@import "Navbar.scss";
@import "About.scss";

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

// .react-links {
//   width: 100%;
//   height: 100%;
//   position: relative;
//   z-index: 9;
// }
